header{
    width: 100%;     position: relative; z-index: 99;
    .top{
        width: 100%; background-color: #302d2d; flex-wrap: wrap; height: 7.6rem;
        .left{
            width: 33.33333%; padding-right: 2rem;
            p{
                margin-right: 2.6rem; font-size: 1.2rem; text-transform: uppercase; color: #fff;
            }
            img{
                display: block;
            }
        }
        .search{
            position: relative; padding: 0 7rem 0 2.4rem; width: 33.33333%; background-color: #535151; padding-right: 2rem;
            input[type="search"]{
                height: 7.6rem; width: 100%; border: none; background-color: transparent; outline-style: none; color: #fff; font-size: 1.2rem;  font-family: 'Constantin';  text-transform: uppercase;
                &::placeholder{
                    color: #fff; 
                }
            }
            input[type="submit"]{
                width: 7rem; height: 100%; border: none; border-left: #686868 1px solid; background-image: url(../images/search.png); background-repeat: no-repeat; background-position: center; cursor: pointer; background-color: transparent; position: absolute; top: 0; right: 0; outline-style: none;
            }
        }
        .account_details{
            width: 33.33333%;
            li{
                margin-right: 2rem; padding-right: 2rem;  text-transform: uppercase; font-size: 1.2rem; position: relative;
                &:after{
                    width: 1px; height: 7.6rem; position: absolute; top: 0; bottom: 0; right: 0; background-color: #686868; content: ""; margin: auto;
                }
                &:last-child{
                    margin-right: 0; padding-right: 0;
                    &::after{
                        display: none;
                    }
                }
                a{
                    color: #fff;
                }

            }
            img{
                margin-right: 14px;
            }
        }
    }
    .bottom{
        width: 100%; height: 26.3rem; display: block; padding-top: 1.4rem; background-image: url(../images/h_b.png); background-position: top center; background-size: contain; background-repeat: no-repeat; 
        .container2{
            max-width: 1450px;
        }
        .back{
            width: 100%; position: relative;
        }
        .logo{
           position: absolute; top: 0;
            img{
                display: block; height: 24.1rem;
            }
        }
    }
}

@media only screen and (max-width:1856px){
    header{
        .bottom{
            
            .logo{
                left: 1.1rem;
            }
        }
    }
}

@media only screen and (max-width:1800px){
    header{
        .bottom{
            background-size: cover; background-position: top left;
            .logo{
                left: 15.1rem;
            }
        }
    }
}
@media only screen and (max-width:1680px){
    header{
        .bottom{
            .logo{
                left: 11.1rem;
            }
        }
    }
}
@media only screen and (max-width:1600px){
    header{
        .bottom{
            .logo{
                left: 15.5rem;
            }
        }
    }
}
@media only screen and (max-width:1480px){
    header{
        .bottom{
            .logo{
                left: 13.9rem;
            }
        }
    }
    
}
@media only screen and (max-width:1440px){
    header{
        .bottom{
            .logo{
                left: 15.2rem;
            }
        }
    }
}
@media only screen and (max-width:1366px){
    header {
        .top{
            .left {
                p{
                    font-size: 9px; margin-right: 11px;
                }
            }
        }
        .bottom{
            .logo{
                left: 15.2rem;
            }
        }
    }
}

@media only screen and (max-width:1280px){
    header{
        .bottom{
            .logo{
                left: 15.4rem;
            }
        }
    }
}

@media only screen and (max-width:1023px){
    header {
        .top{
            
            .left {
                display: none;
                
            }
            .search{
                display: none;
            }
            .account_details{
                width: 100%; max-width: 100%; flex: 0 0 100%; height: 7.6rem; justify-content: center;
            }
        }
        .bottom{
            .logo{
                left: 21.2rem;
            }
        }
    }
}

@media only screen and (max-width:1023px){
    header{
        .bottom{
            background-image: none; background-image: url(../images/h_b_mobile.png); text-align: center; background-position: center top;
            .logo{
                display: inline-block; left: 0; top: 10px; position: relative;
                img{
                    position: relative; left: 0;
                }
            }
        }
    }
}
